@model SmartAC1.Models.DeviceViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirmwareVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirmwareVersion)
        </dd>
    </dl>
</div>
<h3>Sensor Data</h3>
<ul>
    <li>@Html.ActionLink("Today", "Details", new { Model.SerialNr, timeLimit = "today" })</li>
    <li>@Html.ActionLink("This week", "Details", new { Model.SerialNr, timeLimit = "this_week" })</li>
    <li>@Html.ActionLink("This month", "Details", new { Model.SerialNr, timeLimit = "this_month" })</li>
    <li>@Html.ActionLink("This year", "Details", new { Model.SerialNr, timeLimit = "this_year" })</li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Carbon Monoxide</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SensorData)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Humidity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CO)
                </td>
            </tr>
        }
    </tbody>
</table><div>
    <a asp-action="Index">Back to List</a>
</div>
